<html>
<!-- #BeginTemplate "/Templates/main.dwt" --> 
<head>
<!-- TemplateBeginEditable name="doctitle" -->
<title>Door Masters of Texas | </title>
<!-- TemplateEndEditable -->
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body text="#FF0000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#FF0000" vlink="#FF0000" alink="#FF0000" background="bg2.gif" bgcolor="#000000">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FF0000">
  <tr> 
    <td> 
      <table width="775" border="0" cellspacing="0" cellpadding="0" bgcolor="#737373">
        <tr> 
          <td width="158" bgcolor="#737373"> 
            LOGO was Here
          </td>
          <td width="617"><img src="dm/dm_01.jpg" width="300" height="110" alt="Door Masters of Texas"><img src="dm/dm_02.jpg" width="317" height="110" alt="Door Masters of Texas"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="1075" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td colspan="3"><img src="dm/trans.gif" width="5" height="1"></td>
  </tr>
  <tr valign="top"> 
    <td width="150" height="15"> 
      <table width="158" border="0" cellspacing="0" cellpadding="0" bgcolor="#737373">
        <tr> 
          <td width="10" bgcolor="#737373"><img src="dm/trans.gif" width="10" height="20"></td>
          <td width="148" bgcolor="#737373"><a href="#"><b><font color="#FFFFFF">Home</font></b></a></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2"><img src="dm/trans.gif" width="10" height="1"></td>
        </tr>
        <tr> 
          <td width="10" bgcolor="#737373"><img src="dm/trans.gif" width="10" height="20"></td>
          <td width="148" bgcolor="#737373"><a href="#"><b><font color="#FFFFFF">About 
            Us</font></b></a></td>
        </tr>
        <tr> 
          <td colspan="2"><img src="<strong></strong>trans.gif" width="10" height="1"></td>
        </tr>
      </table>
            <table width="158" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2" height="1"><img src="dm/trans.gif" width="1" height="1"></td>
        </tr>
        <tr bgcolor="#737373"> 
          <td width="10"><img src="dm/trans.gif" width="10" height="20"></td>
          <td width="148"><a href=""><b><font color="#FFFFFF">Door 
            Collections</font></b></a></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2"><img src="dm/trans.gif" width="10" height="1"></td>
        </tr>
        <tr bgcolor="#737373"> 
          <td width="10"><img src="dm/trans.gif" width="10" height="20"></td>
          <td width="148"><a href="#"><b><font color="#FFFFFF">Handle 
            Sets</font></b></a></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2"><img src="dm/trans.gif" width="10" height="1"></td>
        </tr>
        <tr bgcolor="#737373"> 
          <td width="10"><img src="dm/trans.gif" width="10" height="20"></td>
          <td width="148"><a href="#"><b><font color="#FFFFFF">Quality 
            Finish</font></b></a></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2"><img src="dm/trans.gif" width="10" height="1"></td>
        </tr>
        <tr bgcolor="#737373"> 
          <td width="10"><img src="dm/trans.gif" width="10" height="20"></td>
          <td width="148"><a href="#"><b><font color="#FFFFFF">Contact 
            Us</font></b></a></td>
        </tr>
        <tr bgcolor="#737373"> 
          <td colspan="2" bgcolor="#FFFFFF"><img src="dm/trans.gif" width="10" height="1"></td>
        </tr>
        <tr bgcolor="#737373"> 
          <td width="10"><img src="dm/trans.gif" width="10" height="20"></td>
          <td width="148" bgcolor="#737373"><a href="#"><b><font color="#FFFFFF">Testimonials</font></b></a></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2"><img src="dm/trans.gif" width="10" height="1"></td>
        </tr>
      </table>
    </td>
    <td width="10" height="15">&nbsp;</td>
    <td height="15" width="915"><img src="dm/trans.gif" width="10" height="5"><br>
      <!-- #BeginEditable "text" -->
      <table width="915" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td valign="top" width="300"> 
            <p align="justify"><font size="5"><i><b>Door Masters of Texas</b></i></font> 
              &nbsp;&nbsp;<br>
              <font size="3">is proud to present one of the most extensive offerings 
              of fine mahogany and beveled glass doors found anywhere in the world 
              today. Our collections represent the best masterpieces available 
              from leading crystal manufactures worldwide. We also offer complete 
              custom glass and door production to meet your individual architectural 
              requirements.</font></p>
            <p align="justify"><font size="3">We assembled over 1800 beveled glass 
              styles to aid your search in finding the right door for your decor, 
              and grouped complementing patterns together to form door collections. 
              Click on any door collection to unlock several different patterns 
              and styles available for the theme. Click again on any single door 
              or sidelight to enlarge the picture for a closer inspection of the 
              intricate detail. </font></p>
            <p align="justify"><font size="3">The metal which binds the crystal 
              in our insulated glass units is called <b>came</b>. Each door we 
              offer is available in Brass, Zinc (pewter color) or Black Patina 
              (black) came. Almost all of the images presented in our door collections 
              were photographed in Black Patina came for visual clarity and definition.</font></p>
            <p align="justify"><font size="3"> Call us for instructions on how 
              to place our web images on a picture of your home. See for yourself 
              the difference our doors will make on your home or business! </font></p>
          </td>
          <td valign="top" width="15"><img src="dm/trans.gif" width="15" height="10"></td>
          <td valign="top" width="600"><object width="416" height="337"><param name="movie" value="http://www.youtube.com/cp/vjVQa1PpcFPzYdT2NmucRurQMGvcTQmJcgi4rQBK8HI="></param><embed src="http://www.youtube.com/cp/vjVQa1PpcFPzYdT2NmucRurQMGvcTQmJcgi4rQBK8HI=" type="application/x-shockwave-flash" width="416" height="337"></embed></object><br/> <br/><img src="dm/indexImage.jpg" width="300" height="410"></td>
        </tr>
        <tr> 
          <td valign="top" colspan="3">
            <table width="100%" border="0" cellspacing="3" cellpadding="1">
              <tr> 
                <td colspan="4"><img src="dm/trans.gif" width="10" height="20"></td>
              </tr>
              <tr> 
                <td width="12%"> 
                  <p align="right"><b><font size="4">Mail: </font></b></p>
                  <p align="right">&nbsp;</p>
                  <p align="right">&nbsp;</p>
                  <p align="right">&nbsp; </p>
                </td>
                <td width="38%" valign="top"> <font size="3"><b><i>Door Masters of Texas</i></b><br>
                  7203 Cockrum Blvd.<br>
                  Houston, Texas 77066</font></td>
                <td width="10%" valign="top"> 
                  <div align="right"><b><font size="4">Email: </font></b></div>
                </td>
                <td width="40%" valign="top"> <a href="#"><font size="3">info@doormastersoftexas.com</font></a></td>
              </tr>
              <tr> 
                <td valign="top"> 
                  <div align="right"><b><font size="4">Phone: </font></b></div>
                </td>
                <td valign="top"> <font size="3">(281) 580-2320 (U.S. Only)<br>
                  (281) 580-2409 (Fax) <br>
                  (832) 436-0157 (International)</font></td>
                <td valign="top"> 
                  <div align="right"><b><font size="4">Hours: </font></b></div>
                </td>
                <td valign="top"><font size="3">Monday - Saturday 9:00 am - 5:00 
                  pm<br>
                  <br>
                  Sunday closed <br>
                  U.S. Central Time</font></td>
              </tr>
              <tr> 
                <td valign="top" colspan="4"> 
                  <div align="center"><font size="3"><b><a href="#">Join 
                    Our Mailing List</a></b></font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- #EndEditable --> </td>
  </tr>
  <tr valign="top"> 
    <td width="150" height="15">&nbsp;</td>
    <td width="10" height="15">&nbsp;</td>
    <td height="15" width="615">&nbsp;</td>
  </tr>
  <tr valign="top"> 
    <td width="150" height="15">&nbsp;</td>
    <td width="10" height="15">&nbsp;</td>
    <td height="15" width="615"> 
      <div align="center"><font size="1">&copy; Copyright 2002- 
        2011        , Door Masters of Texas<br>
        Developed &amp; Maintained by <a href="#" target="_blank">Cyberjee 
        Systems</a></font></div>
    </td>
  </tr>
  <tr valign="top"> 
    <td width="150" height="15">&nbsp;</td>
    <td width="10" height="15">&nbsp;</td>
    <td height="15" width="615">&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
<head>
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
</head>
<!-- #EndTemplate -->
</html>
