.post
  %h1.title Q Technology Company
  .entry
    %p
      Based in Kingwood
      %strong Q Technology Company
      is a local low cost provider of website services.  Out commitment is creating a professional presence on the web for your business.  We pride ourselves on building simple clean modern websites that help businesses connect with their customers.
    %p
      %img{:src => "http://lh4.ggpht.com/_2vsBDUpb9uE/S1-2IScLK2I/AAAAAAAAATI/ezL6nGb3TKc/s400/IMG_0264.JPG"}/
