!!!
%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Q Technology Company
    %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/960_16.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
      %link{:charset => "utf-8", :href => "css/typeface.css", :media => "screen", :rel => "stylesheet", :title => "no title", :type => "text/css"}
  %body
    #wrapper
      #header-wraper
        #header.container_16
          #logo.grid_4
            %img{:alt => "Qtech Logo Grey 44", :height => "42", :src => "../images/qtech-summer.png", :width => "187"}
          #menu.grid_8
            %ul
              %li.first
                %a{:href => "index.html"} Home
              %li
                %a{:href => "services.html"} Services
      #content-wrapper
        #content.container_16
          #secondary.grid_4.sidebar
            %ul
              %li
                %h2 Starter Templates
                %ul
                  %li
                    %a{:href => "index.html"} Summer Template
                  %li
                    %a{:href => "index-green.html"} Green Template
                  %li
                    %a{:href => "index-blue.html"} Blue Template
                  %li
                    %a{:href => "index-black.html"} Black Template
                  %li
                    %a{:href => "index-brown.html"} Brown Template
              %li
                %h2 Community
                %ul
                  %li
                    %a.twitter{:href => "#"} Follow us on Twitter
                  %li
                    %a.linkedin{:href => "#"} Join our network
                  %li
                    %a.facebook{:href => "#"} Friend us on Facebook
                  %li
                    %a.blogger{:href => "#"} Read our Blog
          #primary.grid_12
            .post
              %h1.title Q Technology Company
              .entry
                %p
                  Based in Kingwood
                  %strong Q Technology Company
                  is a local low cost provider of website services.  Out commitment is creating a professional presence on the web for your business.  We pride ourselves on building simple clean modern websites that help businesses connect with their customers.
                %p
                  %img{:src => "http://lh4.ggpht.com/_2vsBDUpb9uE/S1-2IScLK2I/AAAAAAAAATI/ezL6nGb3TKc/s400/IMG_0264.JPG"}/
      .clear  
      #footer-wrapper
        #footer.container_16
          .grid_16
            %p.copyright (c) Copyright 2010 Q Technology Company. All Rights Reserved. | Design By: Kevin Lee.