.post
  %h1.title Our Services
  .entry
    %p
      %strong Q Technology Company
      is committed to getting your business and/or organization on the web as inexpensively as possible.  We pride ourselves on providing simple, clean, modern
      %strong web 2.0
      sites.
    %p We offer three subscriptions based plans.  Each plan includes a visit from our web developers where we will help you choose the look and feel of your site.  In addition, we will also help you create the content for your new site.
.post
  %h2.title Subscriptions
  .entry
    %table{:border => "0", :cellpadding => "5", :cellspacing => "5"}
      %thead
        %tr
          %th
          %th Starter Plan
          %th Pro Plan
          %th Premium Plan
      %tbody
        %tr
          %td Template Base Site
          %td x
          %td x
          %td x
        %tr
          %td Monthly Analytics
          %td x
          %td x
          %td x
        %tr
          %td Domain Registration(2 years)
          %td x
          %td x
          %td x
        %tr
          %td Template Base Site
          %td x
          %td x
          %td x
        %tr
          %td Blog Integration
          %td -
          %td x
          %td x
        %tr
          %td Custom Design
          %td -
          %td -
          %td x
        %tr
          %td Provisioning Fee
          %td $500
          %td $750
          %td $1500
        %tr
          %td Monthly Hosting Charge
          %td $25
          %td $35
          %td $100
.post
  %h2 Call Us For Details
  %h2 Kevin Lee - 281.610.0431
