.post
  %h1.title Our Services
  .entry
    %p
      %strong Q Technology Company
      is committed to getting your business and/or organization on the web as inexpensively as possible.  We pride ourselves on providing simple, clean, modern
      %strong web 2.0
      sites.
    %p We offer three subscriptions based plans.  Each plan includes a visit from our web developers where we will help you choose the look and feel of your site.  In addition, we will also help you create the content for your new site.
.post
  %h2 Call Us For Details
  %h2 Kevin Lee - 281.610.0431
